/* global */
:root{
    --primary:#ffcc00;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
    font-family: 'Lato', sans-serif;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}

/* utilities */

/* menu */
nav.menu{
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav.menu img{
    height: 30px;
    padding-left: 20px;
    
}
nav.menu a:last-of-type{
    margin-right: 30px;
}

.link-glass,.link-renew,.link-menu,.logo{
    display: none;
}
.link-login{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 14px;
    color: black;


}
.link-subs{
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 12px;
    padding: 17px;
    
}
.link-subs:hover{
    background-color: var(--primary);
    color: black;
}
.link-angles{
    color: black;
}
nav.menu a:last-of-type{
    margin-right: 30px;
}
/* header */
header{
    text-align: center;
    height: 230px;
    
}
header h1{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-top: 20px;
}
header p{
    padding-top: 20px;
}
header span{
    padding-bottom: 25px;
    border-bottom-style: solid;
    border-bottom-color: var(--primary);
    border-bottom-width: 2.5px;
    text-decoration: underline;
    
    
}
header span:hover{
    background-color: var(--primary);
    color: black;
    cursor: pointer;
}
header div{
    padding-bottom: 25px;
    border-bottom: 4px solid var(--primary);
    width: 6%;
    margin: 0px auto;
}